{%- liquid
  assign blockId = block.id
  if product
    assign blockId = block.id | append: product.id
  endif
-%}

<div
  data-section-id="{{ blockId }}"
  class="four-box-cards {% if block.settings.css_class != blank %}{{ block.settings.css_class }}{% endif %}" style="background-color: {{ block.settings.bg_color }};" data-aos>
  <div class="page-width">
    <div class="four-box-wrapper">
      <div class="four-box--card-1 appear-delay-2">
        <img src="{{ block.settings.image_1 | img_url: 'master' }}">
        <h5>{{ block.settings.title_1 }}</h5>
        <p>{{ block.settings.text_1 }}</p>
      </div>
      <div class="four-box--card-2 appear-delay-2">
        <img src="{{ block.settings.image_2 | img_url: 'master' }}">
        <h5>{{ block.settings.title_2 }}</h5>
        <p>{{ block.settings.text_2 }}</p>
      </div>
      <div class="four-box--card-3 appear-delay-4">
        <img src="{{ block.settings.image_3 | img_url: 'master' }}">
        <h5>{{ block.settings.title_3 }}</h5>
        <p>{{ block.settings.text_3 }}</p>
      </div>
      <div class="four-box--card-4 appear-delay-4">
        <img src="{{ block.settings.image_4 | img_url: 'master' }}">
        <h5>{{ block.settings.title_4 }}</h5>
        <p>{{ block.settings.text_4 }}</p>
      </div>
      <div class="four-box--spacer"></div>
    </div>
  </div>
</div>