<div
  data-section-id="{{ section.id }}"
  class="page-title-text" data-aos>
  <div class="ptt-wrapper" style="background-image: url({{ section.settings.image | img_url: '1400x' }});">
    <div class="ptt-overlay"></div>
    <div class="ptt-content">
      <div class="h1 appear-delay">{%- if section.settings.title != blank -%}{{ section.settings.title }}{%- else -%}{{ collection.title }}{%- endif -%}</div>
      <p class="appear-delay-2">{{ section.settings.subtitle }}</p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Contact Page title / text",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ]
  }
{% endschema %}